{{#d-modal-body title="encrypt.export.title"}}
  <div>
    <p>{{i18n 'encrypt.export.instructions'}}</p>
    <pre class="exported-key-pair">{{exported}}</pre>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn btn-primary" icon="far-clipboard" action=(action "copy") disabled=inProgress label=(if copied "admin.customize.copied_to_clipboard" "admin.customize.copy_to_clipboard")}}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
