{{#d-modal-body title="encrypt.export.title"}}
  <div>
    <p>{{i18n "encrypt.export.instructions"}}</p>
    <pre class="exported-key-pair">{{exported}}</pre>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class=(if copied "btn btn-primary ok" "btn btn-primary")
    icon="far-clipboard"
    label=(if
      copied
      "admin.customize.copied_to_clipboard"
      "admin.customize.copy_to_clipboard"
    )
    disabled=inProgress
    action=(action "copy")
  }}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
