{{#d-modal-body title=(if device "encrypt.generate_paperkey.title_device" "encrypt.generate_paperkey.title")}}
  <div>
    <p>{{i18n (if device 'encrypt.generate_paperkey.instructions_device' 'encrypt.generate_paperkey.instructions')}}</p>
    <p class="paperkey">{{paperKey}}</p>
  </div>
{{/d-modal-body}}
