pre.exported-keypair {
  font-size: 0.75rem;
  max-height: 300px;
}

#reply-control {
  .reply-to {
    .d-icon {
      margin: 0 5px;
      &.disabled {
        color: $primary-low-mid;
      }
    }

    .error {
      color: $danger;
    }
  }
}
