.user-preferences-account-outlet.encrypt {
  .select-kit {
    vertical-align: bottom;
  }

  .btn {
    margin: 2px 0;
  }

  input#passphrase {
    width: 100%;
  }

  .select-kit-row.is-highlighted[data-value="reset"] {
    background-color: var(--danger-low, $danger-low);
  }
}

pre.exported-key-pair,
textarea.imported-key-pair {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace,
    serif;
  font-size: 0.75rem;
  max-height: 300px;
}

pre.exported-key-pair {
  margin: 0 auto;
  max-width: 80ch;
  white-space: pre-wrap;
  word-break: break-all;
}

.modal .modal-body .paper-key {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace,
    serif;
  text-align: center;
  font-size: 1.5em;
}

.modal .modal-body table.paper-keys {
  width: 100%;

  tr {
    height: 3em;
    td:first-child {
      padding-left: 5px;
    }
    td:last-child {
      padding-right: 5px;
    }

    &:hover {
      background-color: rgba(var(--primary-rgb), 0.05);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  span.paper-key {
    background-color: rgba(var(--primary-rgb), 0.08);
    border-radius: 5px;
    font-size: 1em;
    margin: 0 0.5em;
    padding: 0.3em;
  }

  span.passphrase {
    margin: 0 0.5em;
  }
}

#reply-control {
  .reply-to {
    .d-icon {
      margin: 0 5px;
      &.enabled {
        color: var(--success, $success);
      }
      &.disabled {
        color: var(--primary-low-mid, $primary-low-mid);
      }
    }

    .error {
      color: var(--danger, $danger);
    }
  }
}

.post-info {
  &.integrity-pass {
    color: var(--success, $success);
    margin: 0 0 0 0.5em;
  }

  &.integrity-warn {
    color: var(--encrypt-warn, mix($danger, #ffff00));
    margin: 0 0 0 0.5em;
  }

  &.integrity-fail {
    color: var(--danger, $danger);
    margin: 0 0 0 0.5em;
  }
}

.encrypt-time-bomb-dropdown {
  .btn {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
}

.time-bomb-counter {
  margin-right: 0.5em;
  color: var(--danger, $danger);

  svg {
    margin-right: 0.5em;
  }
}
