{{#if isEncryptEnabled}}
  <div class='row'>
    <div class='alert alert-info alert-too-few-topics'>
      {{i18n 'encrypt.notice.info'}} <a href="/my/preferences/account">{{i18n 'encrypt.notice.enable'}}</a>
    </div>
  </div>
{{/if}}
