{{#if showNoBackupWarning}}
  <div class="row">
    <div class="alert alert-warn">
      <span>{{{i18n "encrypt.no_backup_warn" basePath=basePath}}}</span>
      {{d-button
        icon="times"
        action=(action (mut noticeStatus) 'dismissed')
        class="btn btn-flat close"
        title="banner.close"
      }}
    </div>
  </div>
{{/if}}
