{{#if model.creatingPrivateMessage}}
  {{#if isEncryptActive}}
    <label class='encrypt-message'>
      {{input type="checkbox" checked=model.isEncrypted tabindex="3"}}
      {{i18n "encrypt.composer.encrypt"}}
    </label>
  {{/if}}
{{/if}}